.notification {
  background-color: rgb(227, 255, 246);
  color: rgb(0, 49, 33);
  padding: 0.5em;
  border: 1px solid rgb(0, 49, 33);
  border-radius: 0.5em;
  max-width: 32ch;
  margin-block: 0.5em;
}
